allow gpsd sysfs_wake_lock:file rw_file_perms;
allow gpsd system_server:unix_stream_socket rw_socket_perms;

binder_call(gpsd, system_server)
binder_use(gpsd)

file_type_auto_trans(gpsd, system_data_file, gps_data_file);

unix_socket_connect(gpsd, rild, rild)
