allow rild block_device:dir search;
allow rild gpsd:dir search;
allow rild gpsd:file r_file_perms;
allow rild mediaserver:dir search;
allow rild mediaserver:file r_file_perms;
allow rild proc_net:file rw_file_perms;
allow rild proc_radio:file rw_file_perms;
allow rild radio_block_device:blk_file r_file_perms;
allow rild radio_device:chr_file rw_file_perms;
allow rild sysfs_radio:dir search;
allow rild sysfs_radio:file rw_file_perms;
