allow system_server efs_file:dir search;
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:fifo_file create_file_perms;
allow system_server sensors_efs_file:file r_file_perms;
allow system_server uhid_device:chr_file rw_file_perms;

type_transition system_server system_data_file:fifo_file gps_data_file ".gps.interface.pipe.to_jni";
