[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Administrators
	create = group i9500 maintainers
	forgeCommitter = group i9500 maintainers
	label-Code-Review = -2..+2 group i9500 maintainers
	label-Verified = -1..+1 group i9500 maintainers
	rebase = group i9500 maintainers
	submit = group i9500 maintainers
