import init.universal5410.usb.rc
import init.universal5410.wifi.rc

on init
    start watchdogd

     # For Absolute Persistence Partition
    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/mmcblk0p17
    mount ext4 /dev/block/mmcblk0p17 /persdata/absolute nosuid nodev barrier=1
    chown system system /persdata
    chmod 0755 /persdata
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    mkdir /storage/sdcard1 0000 system system
    mkdir /storage/usbdisk 0000 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/sdcard /external_sd
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    mkdir /efs 0771 radio system
    symlink /dev/block/mmcblk0p13 /dev/mbin0
    restorecon /dev/mbin0

# Vibetonz
    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell
    restorecon /dev/pipes

    symlink /dev/block/mmcblk0p8 /dev/block/param

on post-fs
    # Increase max readahead size to 256 KB
    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    # for controlling write performance boosting
    chown system radio /sys/block/mmcblk0/bkops_en
    chmod 0664 /sys/block/mmcblk0/bkops_en

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    mkdir /data/anr 0775 system system
    restorecon /data/log
    restorecon /data/anr
    chown system log /data/log
    setprop vold.post_fs_data_done 1

    chmod 0775 /data/log
    chmod 0775 /data/anr

    mkdir /data/misc/radio 0775 radio system
    mkdir /efs/imei 0775 radio system

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

#[ SEC_MM_DRM

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm
    restorecon /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm
    restorecon /system/lib/drm

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775
    chown media system /efs/.files/.dx1
    chown media system /efs/.files/.dm33
    chown media system /efs/.files/.mp301
    chmod 0775 /efs/.files/.dx1
    chmod 0775 /efs/.files/.dm33
    chmod 0775 /efs/.files/.mp301

# SEAndroid Restore context for efs files
    restorecon -R /efs
# SEAndroid: it should be set 1 to pass CTS
    setsebool android_cts=1
    setsebool debugfs=1
#]

#-----------------------------------------------------------------------

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    setprop ro.build.product universal_5410
    setprop ro.product.device universal_5410

    # 4.3 needs this
    chmod 0644 /proc/cmdline

# Permissions for TouchScreen
    chown system radio /sys/class/sec/tsp/cmd
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/enable_disable
    chown system radio /sys/class/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touch_update
    chown system radio /sys/class/sec/sec_touchkey/touch_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# uv_sensor
    chown system radio /sys/class/sensors/uv_sensor/vendor
    chown system radio /sys/class/sensors/uv_sensor/name
    chown system radio /sys/class/sensors/uv_sensor/raw_data
    chown system radio /sys/class/sensors/uv_sensor/power_on
    chown system radio /sys/class/sensors/uv_sensor/power_off
# gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/vendor
    chown system radio /sys/class/sensors/gesture_sensor/name
    chown system radio /sys/class/sensors/gesture_sensor/raw_data
# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/vendor
    chown system radio /sys/class/sensors/temphumidity_sensor/name
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver2
    chown system radio /sys/class/sensors/temphumidity_sensor/send_accuracy
# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
# Gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/ir_current
    chown system radio /sys/class/sensors/gesture_sensor/selftest

# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

# Permissions for Barcode Emul
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/flash/rear_flash
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

# SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b

    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink

    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

# Broadcom NFC
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/en_monitoring

# Ondemand
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/high_freq_zone
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/high_freq_zone
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/conservative_step
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/conservative_step
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_conservative_mode
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_conservative_mode

# Core Control
    chown radio system /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu3/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu3/cpuidle/state1/disable

# Core temp sensor
    chown radio system /sys/devices/platform/exynos5-tmu/temp
    chown radio system /sys/devices/platform/exynos5-tmu/curr_temp

# Quadrant Benchmark
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chmod 0664 /sys/class/thermal/thermal_zone0/boost_mode
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h

# game_mode
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/game_mode
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/game_mode

# AMOLED Color Adjustment
    chown radio system /sys/class/power_supply/battery/temp
    chown radio system /sys/class/lcd/panel/temperature
    chmod 0664 /sys/class/power_supply/battery/temp
    chmod 0664 /sys/class/lcd/panel/temperature

# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask

    chown system radio /sys/module/asv_exynos/parameters/asv_group

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# MTP device permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

    chown system system /sys/class/timed_output/vibrator/enable

# Torch
    chown system system /sys/class/leds/torch-sec1/brightness
    chmod 0666 /sys/class/leds/torch-sec1/brightness

on fs
    mount_all /fstab.universal5410
    setprop ro.crypto.fuse_sdcard true

    chown radio system /efs
    chmod 0771 /efs
    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/graphics/fb0/lcdfreq/level
    chown system system /sys/class/lcd/panel/temperature

# Permissions for MDNIE
    chown system system /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility

# Permissions for Gscaler log level
    chmod 0644 /sys/module/gsc/parameters/gsc_dbg

# Switch Device
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/chg_type

# Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

# Audio 2 MIC (Audience)
    chown media audio /sys/class/2mic/es325/preset
    chown media audio /sys/class/2mic/es325/sleep
    chown media audio /sys/class/2mic/es325/veq

# create data/gps for GPS daemon
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/gps 771 system system
    chown system system /data/gps

# delete gps Factory file
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p21 \
            /dev/block/mmcblk0p19
    class core
    user root
    group root
    oneshot

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0

# 3D init
service pvrsrvctl /system/vendor/bin/pvrsrvctl --start --no-module
    class core
    user root
    group root
    oneshot

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
    oneshot

service cpboot-daemon /system/bin/cbd -d -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell

#sensorhubservice start
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw

service camera_id /system/bin/sh /system/etc/init.exynos.cam.sh
    class main
    user root
    oneshot

# Vibetonz
service immvibed /system/bin/immvibed
    class core
    user shell
    group shell
    oneshot

# SA, System SW, SAMSUNG
service bugreport /system/bin/bugmailer.sh -v
    class main
    disabled
    oneshot
    keycodes 114 115 116

on property:ro.dumpstate.dmesg=1
    write /proc/sys/kernel/dmesg_restrict 0

#MHL
on property:ro.debuggable=1
    chmod 666 /sys/class/mhl/hdcp_support
on property:ro.debuggable=1
    chmod 666 /sys/class/mhl/timing
on property:ro.debuggable=1
    chmod 666 /sys/class/mhl/swing
