import init.universal5410.usb.rc
import init.universal5410.wifi.rc

on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/sdcard1 /external_sd
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk

    mkdir /efs 0771 radio system
    symlink /dev/block/mmcblk0p13 /dev/mbin0
    restorecon /dev/mbin0

    symlink /dev/block/mmcblk0p8 /dev/block/param

    symlink /sys/devices/platform/s5p-ehci/ehci_power /dev/ehci_power

on fs
    mount_all /fstab.universal5410
    setprop ro.crypto.fuse_sdcard true

on post-fs
    # Increase max readahead size to 256 KB
    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    # for controlling write performance boosting
    chown system radio /sys/block/mmcblk0/bkops_en
    chmod 0664 /sys/block/mmcblk0/bkops_en

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

    mkdir /data/misc/radio 0775 radio system
    mkdir /efs/imei 0775 radio system

# Added for Mobicore
    mkdir /data/app/mcRegistry 0775 system system

# create data/gps for GPS daemon
    mkdir /data/system/gps 771 gps system

# create camera directory
    mkdir /data/camera 0700 media media

# restore permissions for gps
    mkdir /data/system 0775 system system

# Broadcom NFC
    mkdir /data/bcmnfc 0700 nfc nfc
    mkdir /data/bcmnfc/param 0700 nfc nfc

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775 media system
    mkdir /efs/.files/.dm33 0775 media system
    mkdir /efs/.files/.mp301 0775 media system

    # TZ Playready DRM
    mkdir /efc/drm 0700 drm system
    mkdir /efs/drm/playready 0775 drm system

# SEAndroid Restore context for efs files
    restorecon_recursive /efs

#-----------------------------------------------------------------------

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    setprop ro.build.product universal_5410
    setprop ro.product.device universal_5410

    # 4.3 needs this
    chmod 0644 /proc/cmdline

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Permissions for TouchScreen
    chmod 0660 /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/cmd_result
    chmod 0660 /sys/class/sec/tsp/cmd_list
    chown system radio /sys/class/sec/tsp/cmd
    chown system radio /sys/class/sec/tsp/cmd_result
    chown system radio /sys/class/sec/tsp/cmd_list
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode

# Permissions for JA3G PowerHAL
    chown system system /sys/class/input/input1/enabled
    chown system system /sys/class/input/input14/enabled
    chown system system /sys/class/input/input15/enabled
    chmod 0660 /sys/class/input/input1/enabled
    chmod 0660 /sys/class/input/input14/enabled
    chmod 0660 /sys/class/input/input15/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/enable_disable
    chown system radio /sys/class/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touch_update
    chown system radio /sys/class/sec/sec_touchkey/touch_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
    chown system radio /dev/akm8963
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/vendor
    chown system radio /sys/class/sensors/gesture_sensor/name
    chown system radio /sys/class/sensors/gesture_sensor/raw_data
    chown system radio /sys/class/sensors/gesture_sensor/ir_current
    chown system radio /sys/class/sensors/gesture_sensor/selftest
# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/vendor
    chown system radio /sys/class/sensors/temphumidity_sensor/name
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver2
    chown system radio /sys/class/sensors/temphumidity_sensor/send_accuracy

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
    chown system radio /sys/class/sensors/ssp_sensor/ori_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay

# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

# Permissions for Barcode Emul
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/flash/rear_flash
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

# SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b

    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink

    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/en_monitoring

# SSRM
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/graphics/fb0/lcdfreq/level
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/game_mode
    chmod 0660 /sys/class/lcd/panel/siop_enable
    chmod 0660 /sys/class/graphics/fb0/lcdfreq/level
    chmod 0660 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
    chmod 0660 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
    chmod 0660 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chmod 0660 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0660 /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chmod 0660 /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chmod 0660 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chmod 0660 /sys/devices/system/cpu/cpufreq/ondemand/game_mode

# Ondemand
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_h
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/high_freq_zone
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/high_freq_zone
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/conservative_step
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/conservative_step
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_conservative_mode
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_conservative_mode
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_l
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold_l
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_l
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_l
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_threshold
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_threshold
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_b
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_b
    chown radio system /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor
    chmod 0664 /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor

# Core Control
    chown radio system /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu3/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu3/cpuidle/state1/disable

# AMOLED Color Adjustment
    chown radio system /sys/class/power_supply/battery/temp
    chown radio system /sys/class/lcd/panel/temperature
    chmod 0664 /sys/class/power_supply/battery/temp
    chmod 0664 /sys/class/lcd/panel/temperature

# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask

    chown system radio /sys/module/asv_exynos/parameters/asv_group

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# Permissions
    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chmod 0660 /sys/devices/virtual/misc/umts_dm0/dm_state
    chown radio system /sys/devices/virtual/misc/umts_dm0/dm_state

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/graphics/fb0/lcdfreq/level
    chown system system /sys/class/lcd/panel/temperature

# Permissions for MDNIE
    chown system system /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility

# Permissions for Gscaler log level
    chmod 0644 /sys/module/gsc/parameters/gsc_dbg

# Switch Device
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/chg_type

# Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

# Audio 2 MIC (Audience)
    # global switch for voice processing effects
    chown root audio /sys/class/2mic/es325/voice_processing
    chmod 0660 /sys/class/2mic/es325/voice_processing
    # voice processing chip sleep
    chown root audio /sys/class/2mic/es325/sleep
    chmod 0660 /sys/class/2mic/es325/sleep
    # voice processing usecase preset
    chown root audio /sys/class/2mic/es325/preset
    chmod 0660 /sys/class/2mic/es325/preset
    # voice processing noise suppression level
    chown root audio /sys/class/2mic/es325/tx_ns_level
    chmod 0660 /sys/class/2mic/es325/tx_ns_level
    # voice processing AGC enable (TX)
    chown root audio /sys/class/2mic/es325/tx_agc_enable
    chmod 0660 /sys/class/2mic/es325/tx_agc_enable
    # voice processing AEC enable
    chown root audio /sys/class/2mic/es325/aec_enable
    chmod 0660 /sys/class/2mic/es325/aec_enable
    # voice processing VEQ
    chown root audio /sys/class/2mic/es325/veq
    chmod 0660 /sys/class/2mic/es325/veq

# GPS
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value

# MTP device permission
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

    chown system system /sys/class/timed_output/vibrator/enable

# Vibrator
    chmod 0644 /sys/class/timed_output/vibrator/pwm_value
    chown system system /sys/class/timed_output/vibrator/pwm_value
    chmod 0644 /sys/class/timed_output/vibrator/pwm_max
    chown system system /sys/class/timed_output/vibrator/pwm_max
    chmod 0644 /sys/class/timed_output/vibrator/pwm_min
    chown system system /sys/class/timed_output/vibrator/pwm_min
    chmod 0644 /sys/class/timed_output/vibrator/pwm_default
    chown system system /sys/class/timed_output/vibrator/pwm_default
    chmod 0644 /sys/class/timed_output/vibrator/pwm_threshold
    chown system system /sys/class/timed_output/vibrator/pwm_threshold

# Torch
    chown system camera /sys/class/leds/torch-sec1/brightness
    chmod 0660 /sys/class/leds/torch-sec1/brightness

on charger
# Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave

# EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

# Do not set any USB mode while charging
    setprop sys.usb.config charging

# Service begin here

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core

# 3D init
service pvrsrvctl /system/bin/pvrsrvctl
    class core
    user root
    group root
    oneshot

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

service cpboot-daemon /system/bin/cbd -d -txmm626 -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    disabled

# BT Tethering
service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

# USB Ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
     class main
     user root
     disabled
     oneshot

# start for TZPR provisioning version check app
on property:sys.mobicoredaemon.enable=true
    start scranton_RD

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon \
    -r /system/vendor/firmware/mcRegistry/FFFFFFFF000000000000000000000001.drbin \
    -r /system/vendor/firmware/mcRegistry/ffffffffd0000000000000000000000a.tlbin
    class main
    user drmrpc
    group drmrpc

service battery_charger /sbin/healthd -c
    class charger
    critical

# CyanogenMod Performance Profiles
# Powersave
on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq 600000

# Balanced
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq 1600000

# Performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
    write /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq 1600000

on property:init.svc.bootanim=stopped
    # start gpsd late to prevent it from changing /data/system
    start gpsd
    start camera_id

on property:sys.boot_completed=1
# Switch to balanced mode after boot for better UX
    setprop sys.perf.profile 1
