on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    # Right now vendor lives on the same filesystem as system,
    # but someday that may change.
    symlink /system/vendor /vendor

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs

on early-fs
    mount ext4 /dev/block/mmcblk0p20 /system ro wait noatime
    mount ext4 /dev/block/mmcblk0p3 /efs noatime nosuid nodev journal_async_commit

    mkdir /data/log 0777

    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event

on boot
# CPU Frequency Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

# EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

    ifup lo
    hostname localhost
    domainname localdomain

    start playlpm
    start lpmkey

# Services

service ueventd /sbin/ueventd
    critical

service playlpm /system/bin/playlpm
    user root
    disabled

service lpmkey /system/bin/lpmkey
    user root
    disabled
