on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    # Right now vendor lives on the same filesystem as system,
    # but someday that may change.
    symlink /system/vendor /vendor

    mkdir /sdcard
    mkdir /preload
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /efs
    mkdir /tmp
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on early-fs
    mount ext4 /dev/block/mmcblk0p20 /system ro wait noatime
    mount ext4 /dev/block/mmcblk0p3 /efs noatime nosuid nodev journal_async_commit

    mkdir /data/log 0777

    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event

on boot
# Disable extra CPUs
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    chmod 444 /sys/devices/system/cpu/cpu1/online
    chmod 444 /sys/devices/system/cpu/cpu2/online
    chmod 444 /sys/devices/system/cpu/cpu3/online

# CPU Frequency Governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

# EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

    start playlpm

# Services

service ueventd /sbin/ueventd
    critical

service playlpm /system/bin/lpm
    user root
    disabled
