on early-init
	start ueventd

on init

sysclktz 0

# Set cpu governor to powersave while in charging mode
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave
	
# Set lowest cpu freq
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 250000
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 250000
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 250000
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 250000
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 250000
	write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 250000
	write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 250000
	write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 250000
	write /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq 250000
	write /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq 250000

# Disable extra CPUs
	write /sys/devices/system/cpu/cpu1/online 0
	write /sys/devices/system/cpu/cpu2/online 0
	write /sys/devices/system/cpu/cpu3/online 0
	chmod 444 /sys/devices/system/cpu/cpu1/online
	chmod 444 /sys/devices/system/cpu/cpu2/online
	chmod 444 /sys/devices/system/cpu/cpu3/online

# EHCI runtime enable for LPA
	write /sys/devices/platform/s5p-ehci/power/control auto

# Required by KNOX bootloader
on charger
	class_start core

# Required by KNOX-free bootloader
on boot
	class_start core

###
# Daemon processes to be run by init.
###

service ueventd /sbin/ueventd
	class core
	critical

service charger /charger
	class core
	user root
